.container {
  display: flex;
  padding: 10px 12px;
  max-width: 540px !important;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container__row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container__row--equal > * {
  flex: 1 1 100%;
}
